.DS_Store
Planify.sln
Planify/.DS_Store
Planify/Planify.csproj
Planify/bin/Debug/net8.0/Planify
Planify/bin/Debug/net8.0/Planify.deps.json
Planify/bin/Debug/net8.0/Planify.dll
Planify/bin/Debug/net8.0/Planify.pdb
Planify/bin/Debug/net8.0/Planify.runtimeconfig.json
Planify/obj/Planify.csproj.nuget.dgspec.json
Planify/obj/Planify.csproj.nuget.g.props
Planify/obj/Planify.csproj.nuget.g.targets
Planify/obj/project.assets.json
Planify/obj/project.nuget.cache
Planify/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Planify/obj/Debug/net8.0/apphost
Planify/obj/Debug/net8.0/Planify.AssemblyInfo.cs
Planify/obj/Debug/net8.0/Planify.AssemblyInfoInputs.cache
Planify/obj/Debug/net8.0/Planify.assets.cache
Planify/obj/Debug/net8.0/Planify.csproj.CoreCompileInputs.cache
Planify/obj/Debug/net8.0/Planify.csproj.FileListAbsolute.txt
Planify/obj/Debug/net8.0/Planify.dll
Planify/obj/Debug/net8.0/Planify.GeneratedMSBuildEditorConfig.editorconfig
Planify/obj/Debug/net8.0/Planify.genruntimeconfig.cache
Planify/obj/Debug/net8.0/Planify.GlobalUsings.g.cs
Planify/obj/Debug/net8.0/Planify.pdb
Planify/obj/Debug/net8.0/ref/Planify.dll
Planify/obj/Debug/net8.0/refint/Planify.dll
Planify/obj/Debug/net8.0/Planify.sourcelink.json
Planify/bin/Debug/net8.0/events.json
Planify/bin/Debug/net8.0/events.json
